name: build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    container: joscraw/arm-gcc-cmake
    steps:
      - name: Checkout Project
        uses: actions/checkout@v2
      - name: Build Project
        run: mkdir build && cd build && cmake .. && make binary
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
            name: binary
            path: ['build/firmware.bin', 'build/firmware.elf']